.env
.env.*
!.env.sample

*.toml
!participants.example.toml

exchange-toml/*
!exchange-toml/.gitkeep

# Binaries
bin/*
!bin/.gitkeep

# Test coverage
coverage.out
coverage.html

# Previous Python app
json/*
